<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (nav === 'feat-single' || nav === 'v2') { %>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/front.css">
        <link rel="stylesheet" href="../css/frontplayer.css">
        <link rel="icon"  type="image/png"  href="../images/OP_AppIcon.png" />
        <link rel="apple-touch-icon" sizes="128x128" href="../images/OP_AppIcon_128.png" />
        <link rel="icon" sizes="192x192" href="../images/OP_AppIcon_192.png" />
        <% if (nav === 'v2' && mobile) { %>
        <link rel="stylesheet" href="../css/mobileplayer.css">
        <%}%>
    <% } else {%>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/front.css">
        <link rel="stylesheet" href="css/frontplayer.css">
        <link rel="icon"  type="image/png"  href="images/OP_AppIcon.png" />
        <link rel="apple-touch-icon" sizes="128x128" href="images/OP_AppIcon_128.png" />
        <link rel="icon" sizes="192x192" href="images/OP_AppIcon_192.png" />
        <% if (nav === 'v2' && mobile) { %>
        <link rel="stylesheet" href="css/mobileplayer.css">
        <%}%>
    <%}%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js"></script>
    <title>OnomatoPedal | <%= title %> </title>
    <meta property="og:type" content="music.song" />
    <meta property="description" content="OnomatoPedal is an Earthquaker Devices inspired online interactive experience that users can play music with by triggering sounds and visuals.">
    <% if (nav === 'v2') { %>
        <meta property="og:title" content="OnomatoPedal | <%= name %>" />
        <meta property="og:url" content="https://onomatopedal.com/v2/<%=name%>/" />
        <meta property="og:image" content="https://opv2-heroku.s3.us-west-1.amazonaws.com/<%= name %>/cover.jpg" />
    <% } else {%>
        <meta property="og:title" content="OnomatoPedal | <%= title %>" />
        <meta property="og:url" content="https://onomatopedal.com/<%=nav%>/" />
        <meta property="og:image" content="https://dev.onomatopedal.com/images/v1/OnomatoPedal_Cover_V2.jpg" />
    <%}%>
</head>