<html lang="en">
    <%- include('./partials/frontHead.ejs')  %> 
<body>
    <%- include('./partials/frontNav.ejs')  %> 

    <div class="featBanner sub">
        <p>Did You Play Already?</p>
        <h1>Featured Collaborations</h1>
    </div>
    <div class="feat-container">
        <% posts.forEach((thepost, index) => { %>
            <% if (thepost.published == true) { %>
        <a href="/feat/<%= thepost.name %>">
        <div class="feat-item list">
            <div class="feat-cover">
                <img  class="featImg" src="<%= thepost.featimg %>" alt="featured image">
            </div>
            <div class="feat-info">
                <h2><%= thepost.title %></h2>
                <h3><%= thepost.subtitle %></h3>
                <p class="listdesc"><%= thepost.desc %></p>
            </div>
        </div>
        </a>
        <% } %>
    <% }) %>
    <%- include('./partials/footer.ejs')  %> 

    </div>
    <script>
    var allposts = <%- JSON.stringify(posts) %> ;

    </script>
</body>
</html>