<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="content home">
        <div class="opInfo">
            <p>PEDAL</p>
            <h2><%= pedal.pedalFull %></h2>
            <p>ARTIST</p>
            <h2><%= pedal.artist %></h2>
            <p>ONOMATOPOEIA</p>
            <h2><%= pedal.onomato %></h2>
            <p><%= pedal.onoMeaning %></p>
            <a href="/preview">
                <button>Play Preview</button>
            </a>
            <a href="/keys">
                <button>Edit Keys and Samples</button>
            </a>
            <a href="/info">
                <button>Edit Track and Artist</button>
            </a>
        </div>
        <div class="opImg">
            <img src="images/pedals/testPedal.gif" alt="pedal">
        </div>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>