<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="content home">
        <div class="opInfo">
            <p class="label">EQD PEDAL</p>
            <h2><%= pedal.pedalFull %></h2>
            <p class="label">ARTIST</p>
            <h2><%= pedal.artist %></h2>
            <p class="label">ONOMATOPOEIA</p>
            <h2><%= pedal.onomato %></h2>
            <p><%= pedal.onoMeaning %></p>
            <a href="/preview">
                <button>Play Preview</button>
            </a>
            <div class="flex">
                <a href="/stems">
                    <button class="sm-btn">
                        <p>Stems</p>
                    </button>
                </a>
                <a href="/keys">
                    <button class="sm-btn">
                        <p>Keys</p>
                    </button>
                </a>
            </div>
        </div>
        <div class="opImg">
            <img src="images/pedals/db-default.jpg" alt="pedal">
        </div>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>