<html lang="en">
    <%- include('./partials/frontHead.ejs')  %> 
<body>
    <%- include('./partials/frontNav.ejs')  %> 

    <div class="featBanner">
        <p>Check Out V2 Demo!</p>
        <% for (var p = 0; p < fillPedalNames.length; p++) { %>
                <%  if (v2Pedals[0].pedalFull == fillPedalNames[p].slug) { %>
        <h1><%= v2Pedals[0].onomato %> + <%= fillPedalNames[p].fullName %> + <%= v2Pedals[0].artist %></h1>
                <% break; %>
            <% } %>
        <% } %>
        <a href="/v2/<%= v2Pedals[0].name %>"><button class="lineBtn">Play</button></a>
    </div>
    <div class="grid-container">
    <% for (var i = 0; i < v2Pedals.length; i++) { %>
        <% for (var p = 0; p < fillPedalNames.length; p++) { %>
            <%  if (v2Pedals[i].pedalFull == fillPedalNames[p].slug) { %>
                <a href="/v2/<%= v2Pedals[i].name %>">
                    <div class="pedal-grid v2">
                        <% var val = Math.floor(1000 + Math.random() * 9000); %>
                        <img  src="https://opv2-heroku.s3.us-west-1.amazonaws.com/<%= v2Pedals[i].name %>/cover.jpg?<%=val%>" alt="pedal">               
                        <div class="pedal-name">
                            <p class="label">ONOMATOPOEIA</p>
                            <h2><%= v2Pedals[i].onomato %></h2>
                            <p class="label">FEATURED PEDAL</p>
                            <h2><%= fillPedalNames[p].fullName %></h2>
                            <p class="label">MUSIC BY</p>
                            <h2><%= v2Pedals[i].artist %></h2>
                        </div>
                    </div>
                </a>
                <% break; %>
            <% } %>
        <% } %>
    <% } %>
    <% for (var i = 0; i < pedalListing.length; i++) {%>
        <a href="/v1/<%= pedalListing[i].onomoid %>">
        <div class="pedal-grid">
            <img src= <%= pedalListing[i].image %> />
            <div class="pedal-name">
                <p class="label">ONOMATOPOEIA</p>
                <h2><%= pedalListing[i].onomoname %></h2>
                <p class="label">FEATURED PEDAL</p>
                <h2><%= pedalListing[i].pedalFull %></h2>
                <p class="label">MUSIC BY</p>
                <h2><%= pedalListing[i].artist %></h2>
            </div>
        </div>
        </a>
    <% } %>
    </div>
</body>
</html>