<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="content forms">
        <div class="h2bg">
            <h2>Meta Info</h2>
        </div>
        <form action="/info" method="POST">
            <label for="featuredpedal">Featured EQD Pedal</label>
            <select name="featuredpedal" id="featuredpedal">
                <option value="acapulcogold">Acapulco Gold</option>
                <option value="afterneath">Afterneath</option>
                <option value="afterneathmodule">Afterneath Module</option>
                <option value="aqueduct">Aqueduct</option>
                <option value="arpanoid">Arpanoid</option>
                <option value="arrows">Arrows</option>
                <option value="astraldestiny">Astral Destiny</option>
                <option value="avalancherun">Avalanche Run</option>
                <option value="bitcommander">Bit Commander</option>
                <option value="datacorrupter">Data Corrupter</option>
                <option value="dispatchmaster">Dispatch Master</option>
                <option value="Erupter">Erupter</option>
                <option value="ghostecho">Ghost Echo</option>
                <option value="grandorbiter">Grand Orbiter</option>
                <option value="hoof">Hoof</option>
                <option value="hoofreaper">Hoof Reaper</option>
                <option value="hummingbird">Hummingbird</option>
                <option value="levitation">Levitation</option>
                <option value="nightwire">Night Wire</option>
                <option value="organizer">Organizer</option>
                <option value="palisades">Palisades</option>
                <option value="parkfuzz">Park Fuzz</option>
                <option value="plumes">Plumes</option>
                <option value="pyramids">Pyramids</option>
                <option value="rainbowmachine">Rainbow Machine</option>
                <option value="seamachine">Sea Machine</option>              
                <option value="spacespiral">Space Spiral</option>
                <option value="spatialdelivery">Spatial Delivery</option>
                <option value="swissthings">Swiss Things</option>
                <option value="tentacle">Tentacle</option>
                <option value="thedepths">The Depths</option>
                <option value="thewarden">The Warden</option>
                <option value="tonejob">Tone Job</option>
                <option value="westwood">Westwood</option>
            </select>
            <label for="trackName">Track Name</label>
            <input type="text" id="trackName" name="trackName" value="<%= pedal.trackName %>">
            <label for="artist">Artist Name(s)</label>
            <input type="text" id="artist" name="artist" value="<%= pedal.artist%>">
            <label for="website">Website(s)</label>
            <input type="text" id="website" name="website" value="<%= pedal.website%>">
            <label for="onomato">Onomatopoeia</label>
            <input type="text" id="onomato" name="onomato" value="<%= pedal.onomato%>">
            <label for="onoMeaning">Onomatopoeia Meaning</label>
            <input type="text" id="onoMeaning" name="onoMeaning" value="<%= pedal.onoMeaning%>">
            <button type="submit">Save</button>
            <input id="hiddenKeyName" type="hidden" name="name" value="<%= pedal.name%>">
            <input id="hiddenKeyName" type="hidden" name="pedalFull" value="<%= pedal.pedalFull%>">
        </form>
    </div>
    <%- include('./partials/footer.ejs')  %> 

    <script>
        var thepedal = <%- JSON.stringify(pedal) %> ;
        var featuredpedal = document.querySelector('#featuredpedal');
        var opt;
        for ( var i = 0, len = featuredpedal.options.length; i < len; i++ ) {
        opt = featuredpedal.options[i];
        var pedalslug = thepedal.pedalFull.toLowerCase().replace(/\s+/g, '');
        if ( opt.value === pedalslug ) {
            opt.setAttribute('selected', 'selected'); 
            break;
        }}
    </script>
</body>
</html>