<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="content forms">
        <h2>Track and Artist Info</h2>

        <form action="/info" method="POST">
            <label for="trackName">Track Name</label>
            <input type="text" id="trackName" name="trackName" value="<%= pedal.trackName %>">
            <label for="artist">Artist Name(s)</label>
            <input type="text" id="artist" name="artist" value="<%= pedal.artist%>">
            <label for="website">Website(s)</label>
            <input type="text" id="website" name="website" value="<%= pedal.website%>">
            <label for="onomato">Onomatopoeia</label>
            <input type="text" id="onomato" name="onomato" value="<%= pedal.onomato%>">
            <label for="onoMeaning">Onomatopoeia Meaning</label>
            <input type="text" id="onoMeaning" name="onoMeaning" value="<%= pedal.onoMeaning%>">
            <button type="submit">Save</button>
            <input id="hiddenKeyName" type="hidden" name="name" value="<%= pedal.name%>">
            <input id="hiddenKeyName" type="hidden" name="pedalFull" value="<%= pedal.pedalFull%>">
        </form>
    </div>
    <%- include('./partials/footer.ejs')  %> 

</body>
</html>