<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="content keys">
        <div class="h2bg">
            <h2>Keys to Samples</h2>
        </div>
        <div class="keyboard">
        <% if (keys.length > 0) { %>
            <% keys.forEach((thekey, index) => { %>
            <div class="key <%- thekey.enabled ? 'active' : null %> col-<%= thekey.sample %>" id="<%= thekey.key %>" data-pitch=<%= thekey.pitch %> data-enabled=<%= thekey.enabled %> data-index='<%= index %>' data-sample='<%= thekey.sample %>' >
                    <h3><%= thekey.key %></h3>
                    <p><%= thekey.pitch.toUpperCase().replace('M', '#') %></p>
            </div>
            <% }) %>
        <% } else { %>
            <p>No key to display</p>
        <% } %>
        </div>
        
        <div class="hidden" id="transparentScreen" onclick="keyPanel()">
        </div>
        <div class="forms keyPanels hidden" id="keyPanel">
            <h3 class="panelTitle">Key: <span id="keyName"></span></h3>

            <div class="closebtn" onclick="keyPanel()"></div>

            <form id="keyForm" action="/keys" method="POST" enctype="multipart/form-data">
                <div class="left flex">
                    <div class="formItem">
                    <label for="enabled">Enabled</label>
                    <input type="checkbox" id="enabled" name="enabled" onclick="showFileBtn()" />
                    </div>
                    <div class="formItem">
                    <label for="pitch">Note</label>
                    <select id="pitch" name="pitch">
                        <% for (var p = 0; p < pitches.length; p++) { %>
                            <option value="<%= pitches[p].slug %>"><%= pitches[p].fullName %></option>
                        <% } %>

                    </select>
                    </div>
                    <input id="hiddenKeyName" type="hidden" name="key">
                </div>
                <div class="right flex" id="sampleDiv">
                    <div class="formItem">
                        <label for="sample">Sample</label>
                        <select name="sample" id="sample">
                            <% for (let s = 0; s < samples.length; s++) {%>
                                <option value="<%= samples[s].samplename %>"><%= samples[s].samplename %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="formItem" id="soundBtn">
                        <label for="soundfile">Add New</label>
                        <div class="filebtn">
                            <input type="file" width="60" name="soundfile" id="soundfile" style="padding: 15px; opacity: 0;">
                        </div>
                    </div>
                </div>
                <button>Save</button>
            </form>

        </div>
        
    </div>
    <%- include('./partials/player.ejs')  %> 
    
    <script src="js/ejs.js"></script>
    <script>
        var thekeys = <%- JSON.stringify(keys) %> ;
        var thesamples = <%- JSON.stringify(samples) %> ;
        var username = <%- JSON.stringify(name) %> ;
        var disableKeys = false;

        // Open and close key panel
        function keyPanel() {
            let keyPanelWrap = document.querySelector('#keyPanel');
            let allPanels = document.querySelector('#transparentScreen');
                    if(!allPanels.classList.contains('hidden')) {
                        keyPanelWrap.classList.add('hidden');
                        allPanels.classList.add('hidden');
                    } else {
                        keyPanelWrap.classList.remove('hidden');
                        allPanels.classList.remove('hidden');
                    }
                }

        // Rendering key panel content
        var thekey;
        $(document).on('click', '.key', function() {
            document.querySelector('#keyForm').reset();

            var index = $(this).attr('data-index');
            thekey = thekeys[index];
            console.log(index);

            $('#keyName').html(thekey.key);
            $('#noteName').html(thekey.pitch.toUpperCase().replace('M', '#'));
            if (thekey.enabled == true) { 
                $('input#enabled').prop('checked', true); 
                $('#sampleDiv').removeClass('hidden2');
            } else { 
                $('input#enabled').prop('checked', false); 
                $('#sampleDiv').addClass('hidden2');
            }

            var pitch = document.querySelector('#pitch');
            var sampleName = document.querySelector('#sample');
            var opt, opt2;
            for ( var i = 0, len = pitch.options.length; i < len; i++ ) {
            opt = pitch.options[i];
            if ( opt.value === thekey.pitch ) {
                opt.setAttribute('selected', 'selected'); 
                break;
            }}
            for ( var i = 0, len = sampleName.options.length; i < len; i++ ) {
            opt2 = sampleName.options[i];
            if ( opt2.value === thekey.sample ) {
                opt2.setAttribute('selected', 'selected'); 
                break;
            }}

            $('#hiddenKeyName').attr('value', thekey.key);

            keyPanel();
        });

        $('#soundfile').change(() => {
            var newName = $('#soundfile')[0].files[0].name;
            var onlyName = newName.slice(0, -4);
            $("#sample").append(`<option value="${onlyName}" selected>${onlyName}</option>`);
            console.log(onlyName);
        })

        // Update file button is visible when 'New Sound' is on
        function showFileBtn() {
        let sampleDiv = $('#sampleDiv');
        if ( sampleDiv.hasClass('hidden2') ) {
            sampleDiv.removeClass('hidden2');
            sampleDiv.addClass('show2');
        } else {
            sampleDiv.removeClass('show2');
            sampleDiv.addClass('hidden2');
        }
    }

    </script>
</body>
</html>