<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 
    <a href="/guide#keys">
        <div class="help">
            <p class="guideIcon">Guide</p>
        </div>
    </a>
    <div class="content keys sideBar paddingBottom">
        <div class="h2bg">
            <h2>Keys to Samples</h2>
        </div>
        <div class="keyboard">
        <% if (pedal.keys.length > 0) { %>
            <% pedal.keys.forEach((thekey, index) => { %>
            <div class="key <%- thekey.enabled ? 'active' : null %> col-<%= thekey.sample %>" id="<%= thekey.key %>" data-pitch=<%= thekey.pitch %> data-enabled=<%= thekey.enabled %> data-index='<%= index %>' data-sample='<%= thekey.sample %>' >
                <% if(thekey.key == 'ONE') { %> <h3>1</h3> 
                <%} else if(thekey.key == 'TWO') { %> <h3>2</h3> 
                <%} else if(thekey.key == 'THREE') { %> <h3>3</h3> 
                <%} else if(thekey.key == 'FOUR') { %> <h3>4</h3> 
                <%} else if(thekey.key == 'FIVE') { %> <h3>5</h3> 
                <%} else if(thekey.key == 'SIX') { %> <h3>6</h3> 
                <%} else if(thekey.key == 'SEVEN') { %> <h3>7</h3> 
                <%} else if(thekey.key == 'EIGHT') { %> <h3>8</h3> 
                <%} else if(thekey.key == 'NINE') { %> <h3>9</h3> 
                <%} else if(thekey.key == 'ZERO') { %> <h3>0</h3> 
                <%} else {%>
                    <h3><%= thekey.key %></h3>
                <%}%>
                    <p><%= thekey.pitch.toUpperCase().replace('M', '#') %></p>
            </div>
            <% }) %>
        <% } else { %>
            <p>No key to display</p>
        <% } %>
        </div>

        <div class="h2bg">
            <h2>Mobile Pads to Samples</h2>
        </div>
        <div class="mobilePads">
        <% if (pedal.pads.length > 0) { %>
            <% pedal.pads.forEach((thepad, index) => { %>
            <div class="pad <%- thepad.enabled ? 'active' : null %> col-<%= thepad.sample %>" id="<%= thepad.pad %>" data-pitch=<%= thepad.pitch %> data-enabled=<%= thepad.enabled %> data-index='<%= index %>' data-sample='<%= thepad.sample %>' >
                    <p><%= thepad.pitch.toUpperCase().replace('M', '#') %></p>
            </div>
            <% }) %>
        <% } else { %>
            <p>No pad to display</p>
        <% } %>
        </div>
        
        
        <div class="hidden" id="transparentScreen" onclick="keyPanel();">
        </div>
        <div class="forms keyPanels hidden" id="keyPanel">
            <h3 class="panelTitle">Key: <span id="keyName"></span></h3>

            <div class="closebtn" onclick="keyPanel()"></div>

            <form id="keyForm" action="/keys" method="POST" enctype="multipart/form-data">
                <div class="left flex">
                    <div class="formItem">
                    <label for="enabled">Enabled</label>
                    <input type="checkbox" id="enabled" name="enabled" type="button" onclick="showFileBtn()" />
                    </div>
                    <div class="formItem">
                    <label for="pitch">Key Pitch</label>
                    <select id="pitch" name="pitch">
                        <% for (var p = 0; p < pitches.length; p++) { %>
                            <option value="<%= pitches[p].slug %>"><%= pitches[p].fullName %></option>
                        <% } %>

                    </select>
                    </div>
                    <input id="hiddenKeyName" type="hidden" name="key">
                </div>
                <div class="right flex" id="sampleDiv">
                    <div class="formItem">
                        <label for="sample">Sample</label>
                        <select name="sample" id="sample">
                            <% for (let s = 0; s < pedal.samples.length; s++) {%>
                                <option value="<%= pedal.samples[s].samplename %>"><%= pedal.samples[s].samplename %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="formItem" id="soundBtn">
                        <label for="soundfile">Add New</label>
                        <div class="filebtn">
                            <input type="file" width="60" name="soundfile" id="soundfile" style="padding: 15px; opacity: 0;">
                        </div>
                    </div>
                    <div class="formItem" id="hidden-sp" style="display: none;">
                        <label for="samplePitch">Sample Pitch</label>
                        <select id="samplePitch" name="samplePitch">
                            <% for (var p = 0; p < pitches.length; p++) { %>
                                <option value="<%= pitches[p].slug %>"><%= pitches[p].fullName %></option>
                            <% } %>
    
                        </select>
                        </div>
                </div>
                <button id="keySaveBtn" class="disabled" disabled>Save</button>
            </form>
        </div>

        <div class="hidden" id="transparentScreenp" onclick="padPanel()">
        </div>
        <div class="forms keyPanels hidden" id="padPanel">
            <div class="closebtn" onclick="padPanel()"></div>
            <form id="padForm" action="/pads" method="POST" enctype="multipart/form-data">
                <div class="left flex">
                    <div class="formItem">
                    <label for="enabledp">Enabled</label>
                    <input type="checkbox" id="enabledp" name="enabledp" type="button" onclick="showFileBtnP()" />
                    </div>
                    <div class="formItem">
                    <label for="pitchp">Pad Pitch</label>
                    <select id="pitchp" name="pitchp">
                        <% for (var p = 0; p < pitches.length; p++) { %>
                            <option value="<%= pitches[p].slug %>"><%= pitches[p].fullName %></option>
                        <% } %>
                    </select>
                    </div>
                    <input id="hiddenPadName" type="hidden" name="pad">
                </div>
                <div class="right flex" id="sampleDivp">
                    <div class="formItem">
                        <label for="samplep">Sample</label>
                        <select name="samplep" id="samplep">
                            <% for (let s = 0; s < pedal.samples.length; s++) {%>
                                <option value="<%= pedal.samples[s].samplename %>"><%= pedal.samples[s].samplename %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="formItem" id="soundBtnp">
                        <label for="soundfilep">Add New</label>
                        <div class="filebtn">
                            <input type="file" width="60" name="soundfilep" id="soundfilep" style="padding: 15px; opacity: 0;">
                        </div>
                    </div>
                    <div class="formItem" id="hidden-spp" style="display: none;">
                        <label for="samplePitchp">Sample Pitch</label>
                        <select id="samplePitchp" name="samplePitchp">
                            <% for (var p = 0; p < pitches.length; p++) { %>
                                <option value="<%= pitches[p].slug %>"><%= pitches[p].fullName %></option>
                            <% } %>
                        </select>
                        </div>
                </div>
                <button id="padSaveBtn" class="disabled" disabled>Save</button>
            </form>
        </div>
        
    </div>
    <%- include('./partials/player.ejs')  %> 
    
    <script src="js/ejs.js"></script>
    <script>
        var thekeys = <%- JSON.stringify(pedal.keys) %> ;
        var thepads = <%- JSON.stringify(pedal.pads) %> ;
        var thesamples = <%- JSON.stringify(pedal.samples) %> ;
        var username = <%- JSON.stringify(name) %> ;
        var disableKeys = false;

        // Open and close key panel
        function keyPanel() {
            let keyPanelWrap = document.querySelector('#keyPanel');
            let allPanels = document.querySelector('#transparentScreen');
                    if(!allPanels.classList.contains('hidden')) {
                        keyPanelWrap.classList.add('hidden');
                        allPanels.classList.add('hidden');
                    } else {
                        keyPanelWrap.classList.remove('hidden');
                        allPanels.classList.remove('hidden');
                    }
                }
        function padPanel() {
            let padPanelWrap = document.querySelector('#padPanel');
            let allPanelsP = document.querySelector('#transparentScreenp');
                    if(!allPanelsP.classList.contains('hidden')) {
                        padPanelWrap.classList.add('hidden');
                        allPanelsP.classList.add('hidden');
                    } else {
                        padPanelWrap.classList.remove('hidden');
                        allPanelsP.classList.remove('hidden');
                    }
                }

        // Rendering key panel content
        var thekey;
        $(document).on('click', '.key', function() {
            document.querySelector('#keyForm').reset();
            if(!$('#keySaveBtn').hasClass('disabled')) {$('#keySaveBtn').addClass('disabled');}
            if(!$('#keySaveBtn').attr('disabled')){$('#keySaveBtn').attr('disabled')};

            var index = $(this).attr('data-index');
            thekey = thekeys[index];
            // console.log(index);

            var keyName;
            if(thekey.key == 'ONE') { keyName = 1;}
            else if(thekey.key == 'TWO') { keyName = 2;}
            else if(thekey.key == 'THREE') { keyName = 3;}
            else if(thekey.key == 'FOUR') { keyName = 4;}
            else if(thekey.key == 'FIVE') { keyName = 5;}
            else if(thekey.key == 'SIX') { keyName = 6;}
            else if(thekey.key == 'SEVEN') { keyName = 7;}
            else if(thekey.key == 'EIGHT') { keyName = 8;}
            else if(thekey.key == 'NINE') { keyName = 9;}
            else if(thekey.key == 'ZERO') { keyName = 0;}
            else { keyName = thekey.key; }
            $('#keyName').html(keyName);

            $('#noteName').html(thekey.pitch.toUpperCase().replace('M', '#'));
            if (thekey.enabled == true) { 
                $('input#enabled').prop('checked', true); 
                $('#sampleDiv').removeClass('hidden2');
            } else { 
                $('input#enabled').prop('checked', false); 
                $('#sampleDiv').addClass('hidden2');
            }

            var pitch = document.querySelector('#pitch');
            var sampleName = document.querySelector('#sample');
            var opt, opt2;
            for ( var i = 0, len = pitch.options.length; i < len; i++ ) {
            opt = pitch.options[i];
            if ( opt.value === thekey.pitch ) {
                opt.setAttribute('selected', 'selected'); 
                break;
            }}
            for ( var i = 0, len = sampleName.options.length; i < len; i++ ) {
            opt2 = sampleName.options[i];
            if ( opt2.value === thekey.sample ) {
                opt2.setAttribute('selected', 'selected'); 
                break;
            }}

            $('#hiddenKeyName').attr('value', thekey.key);

            keyPanel();
        });


        // Rendering pad panel content
        var thepad;
        $(document).on('click', '.pad', function() {
            document.querySelector('#padForm').reset();
            if(!$('#padSaveBtn').hasClass('disabled')) {$('#padSaveBtn').addClass('disabled');}
            if(!$('#padSaveBtn').attr('disabled')){$('#padSaveBtn').attr('disabled')};

            var index = $(this).attr('data-index');
            thepad = thepads[index];

            // var padName = thekey.key;
            // $('#padName').html(padName);

            $('#noteName').html(thepad.pitch.toUpperCase().replace('M', '#'));
            if (thepad.enabled == true) { 
                $('input#enabledp').prop('checked', true); 
                $('#sampleDivp').removeClass('hidden2');
            } else { 
                $('input#enabledp').prop('checked', false); 
                $('#sampleDivp').addClass('hidden2');
            }

            var pitch = document.querySelector('#pitchp');
            var sampleName = document.querySelector('#samplep');
            var opt, opt2;
            for ( var i = 0, len = pitch.options.length; i < len; i++ ) {
            opt = pitch.options[i];
            if ( opt.value === thepad.pitch ) {
                opt.setAttribute('selected', 'selected'); 
                break;
            }}
            for ( var i = 0, len = sampleName.options.length; i < len; i++ ) {
            opt2 = sampleName.options[i];
            if ( opt2.value === thepad.sample ) {
                opt2.setAttribute('selected', 'selected'); 
                break;
            }}

            $('#hiddenPadName').attr('value', thepad.pad);
            padPanel();
        });

        /// Key panel button
        $('#soundfile').change(() => {
            var newName = $('#soundfile')[0].files[0].name;
            var onlyName = newName.slice(0, -4);
            $("#sample").append(`<option value="${onlyName}" selected>${onlyName}</option>`);
            $('#hidden-sp').css('display', 'block');
            $('#soundBtn').css('display', 'none');
        })

        $('#enabled, #pitch, #sample').on('change', () => {
            $('#keySaveBtn').removeClass('disabled');
            $('#keySaveBtn').removeAttr('disabled');
        })

        /// Pad panel button
        $('#soundfilep').change(() => {
            var newName = $('#soundfilep')[0].files[0].name;
            var onlyName = newName.slice(0, -4);
            $("#samplep").append(`<option value="${onlyName}" selected>${onlyName}</option>`);
            $('#hidden-spp').css('display', 'block');
            $('#soundBtnp').css('display', 'none');
        })

        $('#enabledp, #pitchp, #samplep').on('change', () => {
            $('#padSaveBtn').removeClass('disabled');
            $('#padSaveBtn').removeAttr('disabled');
        })

        // Update file button is visible when 'New Sound' is on
        function showFileBtn() {
        let sampleDiv = $('#sampleDiv');
        if ( sampleDiv.hasClass('hidden2') ) {
            sampleDiv.removeClass('hidden2');
            sampleDiv.addClass('show2');
        } else {
            sampleDiv.removeClass('show2');
            sampleDiv.addClass('hidden2');
        }
    }

    function showFileBtnP() {
        let sampleDiv = $('#sampleDivp');
        if ( sampleDiv.hasClass('hidden2') ) {
            sampleDiv.removeClass('hidden2');
            sampleDiv.addClass('show2');
        } else {
            sampleDiv.removeClass('show2');
            sampleDiv.addClass('hidden2');
        }
    }

    </script>
</body>
</html>