<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="content keys">
        <h2>Keys and Samples</h2>
        <div class="keyboard">
        <% if (keys.length > 0) { %>
            <% keys.forEach((thekey, index) => { %>
            <div class="key <%- thekey.enabled ? 'active' : null %>" id="<%= thekey.key %>" data-pitch=<%= thekey.pitch %> data-enabled=<%= thekey.enabled %> data-index='<%= index %>' >
                    <h3><%= thekey.key %></h3>
                    <p><%= thekey.pitch.toUpperCase().replace('M', '#') %></p>
            </div>
            <% }) %>
        <% } else { %>
            <p>No key to display</p>
        <% } %>
        </div>
        <div class="hidden" id="transparentScreen" onclick="keyPanel()">
        </div>
        <div class="content forms keyPanels hidden" id="keyPanel">
            <div class="closebtn" onclick="keyPanel()"></div>

            <h2>Key: <span id="keyName"></span> Note: <span id="noteName"><span></h2>
            <form id="keyForm" action="/keys" method="POST" enctype="multipart/form-data">
                <div class="left flex">
                    <div class="formItem">
                    <label for="enabled">Enabled</label>
                    <input type="checkbox" id="enabled" name="enabled" onclick="showFileBtn()" />
                    </div>
                    <div class="formItem">
                    <label for="pitch">Note</label>
                    <select id="pitch" name="pitch">
                        <option value="c5">C5</option>
                        <option value="cm5">C#5</option>
                        <option value="d5">D5</option>
                        <option value="dm5">D#5</option>
                        <option value="e5">E5</option>
                        <option value="f5">F5</option>
                        <option value="fm5">F#5</option>
                        <option value="g5">G5</option>
                        <option value="gm5">G#5</option>
                        <option value="a5">A5</option>
                        <option value="am5">A#5</option>
                        <option value="b5">B5</option>
                        
                        <option value="c4">C4</option>
                        <option value="cm4">C#4</option>
                        <option value="d4">D4</option>
                        <option value="dm4">D#4</option>
                        <option value="e4">E4</option>
                        <option value="f4">F4</option>
                        <option value="fm4">F#4</option>
                        <option value="g4">G4</option>
                        <option value="gm4">G#4</option>
                        <option value="a4">A4</option>
                        <option value="am4">A#4</option>
                        <option value="b4">B4</option>

                        <option value="c3">C3</option>
                        <option value="cm3">C#3</option>
                        <option value="d3">D3</option>
                        <option value="dm3">D#3</option>
                        <option value="e3">E3</option>
                        <option value="f3">F3</option>
                        <option value="fm3">F#3</option>
                        <option value="g3">G3</option>
                        <option value="gm3">G#3</option>
                        <option value="a3">A3</option>
                        <option value="am3">A#3</option>
                        <option value="b3">B3</option>
                    </select>
                    </div>
                    <!-- <div class="formItem">
                        <label for="new-sound">New Sound</label>
                        <input type="checkbox" id="newsound" name="newsound"
                         onclick="showFileBtn()" />
                    </div> -->
                    <input id="hiddenKeyName" type="hidden" name="key">
                </div>
                <div class="right flex" id="sampleDiv">
                    <div class="formItem">
                        <label for="sample">Sample</label>
                        <select name="sample" id="sample">
                            <% for (let s = 0; s < samples.length; s++) {%>
                                <option value="<%= samples[s].name %>"><%= samples[s].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="formItem" id="soundBtn">
                        <label for="soundfile">Add New</label>
                        <div class="filebtn">
                            <input type="file" width="60" name="soundfile" id="soundfile" style="padding: 15px; opacity: 0;">
                        </div>
                    </div>
                </div>
            <!-- </div> -->
                <button>Save</button>
            </form>

        </div>
        
    </div>
    <%- include('./partials/footer.ejs') %> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js"></script>
    <script src="js/ejs.js"></script>
    <script>
        var thekeys = <%- JSON.stringify(keys) %> ;
        var thesamples = <%- JSON.stringify(samples) %> ;
        var username = <%- JSON.stringify(name) %> ;

        // Open and close key panel
        function keyPanel() {
            let keyPanelWrap = document.querySelector('#keyPanel');
            let allPanels = document.querySelector('#transparentScreen');
                    if(!allPanels.classList.contains('hidden')) {
                        keyPanelWrap.classList.add('hidden');
                        allPanels.classList.add('hidden');
                    } else {
                        keyPanelWrap.classList.remove('hidden');
                        allPanels.classList.remove('hidden');
                    }
                }

        // Rendering key panel content
        var thekey;
        $(document).on('click', '.key', function() {
            document.querySelector('#keyForm').reset();

            var index = $(this).attr('data-index');
            thekey = thekeys[index];
            console.log(index);

            $('#keyName').html(thekey.key);
            $('#noteName').html(thekey.pitch.toUpperCase().replace('M', '#'));
            if (thekey.enabled == true) { 
                $('input#enabled').prop('checked', true); 
                $('#sampleDiv').removeClass('hidden2');
            } else { 
                $('input#enabled').prop('checked', false); 
                $('#sampleDiv').addClass('hidden2');
            }

            var pitch = document.querySelector('#pitch');
            var sampleName = document.querySelector('#sample');
            var opt, opt2;
            for ( var i = 0, len = pitch.options.length; i < len; i++ ) {
            opt = pitch.options[i];
            if ( opt.value === thekey.pitch ) {
                opt.setAttribute('selected', 'selected'); 
                break;
            }}
            for ( var i = 0, len = sampleName.options.length; i < len; i++ ) {
            opt2 = sampleName.options[i];
            if ( opt2.value === thekey.sample ) {
                opt2.setAttribute('selected', 'selected'); 
                break;
            }}

            $('#hiddenKeyName').attr('value', thekey.key);

            keyPanel();
        });

        $('#soundfile').change(() => {
            var newName = $('#soundfile')[0].files[0].name;
            var onlyName = newName.slice(0, -4);
            $("#sample").append(`<option value="${onlyName}" selected>${onlyName}</option>`);
            console.log(onlyName);
        })

        // Update file button is visible when 'New Sound' is on
        function showFileBtn() {
        let sampleDiv = $('#sampleDiv');
        if ( sampleDiv.hasClass('hidden2') ) {
            sampleDiv.removeClass('hidden2');
            sampleDiv.addClass('show2');
        } else {
            sampleDiv.removeClass('show2');
            sampleDiv.addClass('hidden2');
        }
    }

    ////////// Keys to Play Sample

    $(document).ready(function() {
        var keyPlayed = false;
        console.log(thekeys);
        console.log(thesamples);

        var fileName = [], pitchString = [];
        for (var i = 0; i < thesamples.length; i++) {
                var name = thesamples[i].name;
                var note = thesamples[i].pitch.toUpperCase().replace('M', '#');
                fileName.push(name);
                pitchString.push(note);
        }
        console.log('fileName: ');
        console.log(fileName);
        console.log('pitchString: ');
        console.log(pitchString);

        var keyToPitch = {};
        for (var i = 0; i < thekeys.length; i++) {
            var thekey = thekeys[i].key.toLowerCase();
            var note = thekeys[i].pitch.toUpperCase().replace('M', '#'); 
           if(thekeys[i].enabled) {
               if(thekey == 'space') {
                keyToPitch[' '] = note;
               } else {
                keyToPitch[thekey] = note;
               }
            } else {
                keyToPitch[thekey] = null;
            }
        }

        console.log('Key to Pitch: ');
        console.log(keyToPitch);

        var samplers = [];
        for(i=0; i<fileName.length;i++) {
            samplers[i] = new Tone.Sampler({
            [pitchString[i]]: './sound/' + username + '/' + fileName[i] + '.mp3'
            }, {
                'release' : 1,
                'onload' : function(){
                Tone.context.updateInterval = 0;
                Tone.context.lookAhead = 0;
                }
            }).toDestination();
        }

        function onkeydown(e){
            var x = e.keyCode || e.which;
            e.preventDefault();

            //// Find index# of sample for the key
            function theIndex(k) {
                var i, n, s;
                for (var ke = 0; ke < thekeys.length; ke++) {
                    if (thekeys[ke].key == k) {
                        i = ke;
                        break;
                    }
                }
                n = thekeys[i].sample;
                for (var sa = 0; sa < thesamples.length; sa++) {
                    if (thesamples[sa].name == n) {
                        s = sa;
                        break;
                    } else {
                        s = 0;
                    }
                }
                return s;
            }

            //// Do nothing with other keys
            if (keyToPitch[e.key] == null) {
                // console.log('do nothing');
            } else {

            var index;
            switch (x) {

                // Q - P
                case 81:
                index = theIndex('Q');
                break;
                case 87:
                index = theIndex('W');
                break;
                case 69:
                index = theIndex('E');
                break;
                case 82:
                index = theIndex('R');
                break;
                case 84:
                index = theIndex('T');
                break;
                case 89:
                index = theIndex('Y');
                break;
                case 85:
                index = theIndex('U');
                break;
                case 73:
                index = theIndex('I');
                break;
                case 79:
                index = theIndex('O');
                break;
                case 80:
                index = theIndex('P');
                break;

                // A - L
                case 65:
                index = theIndex('A');
                break;
                case 83:
                index = theIndex('S');
                break;
                case 68:
                index = theIndex('D');
                break;
                case 70:
                index = theIndex('F');
                break;
                case 71:
                index = theIndex('G');
                break;
                case 72:
                index = theIndex('H');
                break;
                case 74:
                index = theIndex('J');
                break;
                case 75:
                index = theIndex('K');
                break;
                case 76:
                index = theIndex('L');
                break;

                // Z - M
                case 90:
                index = theIndex('Z');
                break;
                case 88:
                index = theIndex('X');
                break;
                case 67:
                index = theIndex('C');
                break;
                case 86:
                index = theIndex('V');
                break;
                case 66:
                index = theIndex('B');
                break;
                case 78:
                index = theIndex('N');
                break;
                case 77:
                index = theIndex('M');
                break;

                // SPACE
                case 32:
                index = theIndex('SPACE');
                break;
            }
            samplers[index].triggerAttackRelease(keyToPitch[e.key]);
        }
        }

        // function onkeyup(e){
        // samplers.triggerRelease(keyToPitch[e.key]);
        // }

        $(document).keydown(function(e) {
            onkeydown(e);
        });

    });

    </script>
</body>
</html>