<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 
    <a href="/guide#keys">
        <div class="help">
            <p class="guideIcon">Guide</p>
        </div>
    </a>
    <div class="content keys sideBar paddingBottom">

      <div class="h2bg">
            <h2>Mobile Pads to Samples</h2>
        </div>
        <div class="mobilePads">
        <% if (pedal.pads.length > 0) { %>
            <% pedal.pads.forEach((thepad, index) => { %>
            <div class="pad <%- thepad.enabled ? 'active' : null %> col-<%= thepad.sample %>" id="<%= thepad.pad %>" data-pitch=<%= thepad.pitch %> data-enabled=<%= thepad.enabled %> data-index='<%= index %>' data-sample='<%= thepad.sample %>' >
                    <p><%= thepad.pitch.toUpperCase().replace('M', '#') %></p>
            </div>
            <% }) %>
        <% } else { %>
            <p>No pad to display</p>
        <% } %>
        <div class="colSelector zero gBtn" data-index="0">
            <img src="images/col.svg" alt="row editor">
        </div>
        <div class="colSelector one gBtn" data-index="1">
            <img src="images/col.svg" alt="row editor">
        </div>
        <div class="colSelector two gBtn" data-index="2">
            <img src="images/col.svg" alt="row editor">
        </div>
        <div class="colSelector three gBtn" data-index="3">
            <img src="images/col.svg" alt="row editor">
        </div>

        <div class="areaSelector left zero gBtn" data-index="4">
            <img src="images/area.svg" alt="row editor">
        </div>
        <div class="areaSelector left one gBtn" data-index="5">
            <img src="images/area.svg" alt="row editor">
        </div>
        <div class="areaSelector left two gBtn" data-index="6">
            <img src="images/area.svg" alt="row editor">
        </div>
        <div class="areaSelector right zero gBtn" data-index="7">
            <img src="images/area.svg" alt="row editor">
        </div>
        <div class="areaSelector right one gBtn" data-index="8">
            <img src="images/area.svg" alt="row editor">
        </div>
        <div class="areaSelector right two gBtn" data-index="9">
            <img src="images/area.svg" alt="row editor">
        </div>
        </div>

        <div class="hidden" id="transparentScreenp" onclick="padPanel()">
        </div>
        <div class="forms keyPanels hidden" id="padPanel">
            <div class="closebtn" onclick="padPanel()"></div>
            <form id="padForm" action="/pads" method="POST" enctype="multipart/form-data">
                <div class="left flex">
                    <div class="formItem">
                    <label for="enabledp" class="checkItem">Enabled
                    <input type="checkbox" id="enabledp" name="enabledp" type="button" onclick="showFileBtnP()" />
                    <span class="checkmark"></span>
                    </label>

                    </div>
                    <div class="formItem">
                    <label for="pitchp">Pad Pitch</label>
                    <select id="pitchp" name="pitchp">
                        <% for (var p = 0; p < pitches.length; p++) { %>
                            <option value="<%= pitches[p].slug %>"><%= pitches[p].fullName %></option>
                        <% } %>
                    </select>
                    </div>
                    <input id="hiddenPadName" type="hidden" name="pad">
                </div>
                <div class="right flex" id="sampleDivp">
                    <div class="formItem">
                        <label for="samplep">Sample</label>
                        <select name="samplep" id="samplep">
                            <% for (let s = 0; s < pedal.samples.length; s++) {%>
                                <option value="<%= pedal.samples[s].samplename %>"><%= pedal.samples[s].samplename %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="formItem" id="soundBtnp">
                        <label for="soundfilep">Add New</label>
                        <div class="filebtn">
                            <input type="file" width="60" name="soundfilep" id="soundfilep" style="padding: 15px; opacity: 0;">
                        </div>
                    </div>
                    <div class="formItem" id="hidden-spp" style="display: none;">
                        <label for="samplePitchp">Sample Pitch</label>
                        <select id="samplePitchp" name="samplePitchp">
                            <% for (var p = 0; p < pitches.length; p++) { %>
                                <option value="<%= pitches[p].slug %>"><%= pitches[p].fullName %></option>
                            <% } %>
                        </select>
                        </div>
                </div>
                <button id="padSaveBtn" class="disabled" onclick="updatePad('#padSaveBtn')" disabled>Save</button>
            </form>
        </div>
        
        <div class="hidden" id="transparentScreenpg" onclick="padGPanel()">
        </div>
        <div class="forms keyPanels hidden" id="padGPanel">
            <h2 id="groupName"></h2>
            <div class="closebtn" onclick="padGPanel()"></div>
            <form id="padGForm" action="/pads-group" method="POST">
                <div class="left flex">
                    <div class="formItem">
                    <label for="enabledpg" class="checkItem">Enabled
                    <input type="checkbox" id="enabledpg" name="enabledpg" type="button" />
                    <span class="checkmark"></span>
                    </label>

                    </div>
                    <input id="hiddenPadGName" type="hidden" name="padg">
                    <div class="formItem">
                        <label for="samplepg">Sample</label>
                        <select name="samplepg" id="samplepg">
                            <% for (let s = 0; s < pedal.samples.length; s++) {%>
                                <option value="<%= pedal.samples[s].samplename %>"><%= pedal.samples[s].samplename %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <button id="padGSaveBtn" class="disabled" onclick="updatePad('#padGSaveBtn')" disabled>Save</button>
            </form>
        </div>
    </div>

    <div class="blackscreen"></div>
    <div class="loadingSpinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

    <%- include('./partials/player.ejs')  %> 
    
    <script src="js/ejs.js"></script>
    <script>
        var thepads = <%- JSON.stringify(pedal.pads) %> ;
        var thesamples = <%- JSON.stringify(pedal.samples) %> ;
        var username = <%- JSON.stringify(name) %> ;
        var disableKeys = false;

        // Open and close pad panel
        function padPanel() {
            let padPanelWrap = document.querySelector('#padPanel');
            let allPanelsP = document.querySelector('#transparentScreenp');
                    if(!allPanelsP.classList.contains('hidden')) {
                        padPanelWrap.classList.add('hidden');
                        allPanelsP.classList.add('hidden');
                    } else {
                        padPanelWrap.classList.remove('hidden');
                        allPanelsP.classList.remove('hidden');
                    }
                }
        function padGPanel() {
            let padGPanelWrap = document.querySelector('#padGPanel');
            let allPanelsPG = document.querySelector('#transparentScreenpg');
                if(!allPanelsPG.classList.contains('hidden')) {
                    padGPanelWrap.classList.add('hidden');
                    allPanelsPG.classList.add('hidden');
                } else {
                    padGPanelWrap.classList.remove('hidden');
                    allPanelsPG.classList.remove('hidden');
                }
        };

        // Rendering pad panel content
        var thepad;
        $(document).on('click', '.pad', function() {
            document.querySelector('#padForm').reset();
            if(!$('#padSaveBtn').hasClass('disabled')) {$('#padSaveBtn').addClass('disabled');}
            if(!$('#padSaveBtn').attr('disabled')){$('#padSaveBtn').attr('disabled')};

            var index = $(this).attr('data-index');
            thepad = thepads[index];

            $('#noteName').html(thepad.pitch.toUpperCase().replace('M', '#'));
            if (thepad.enabled == true) { 
                $('input#enabledp').prop('checked', true); 
                $('#sampleDivp').removeClass('hidden2');
            } else { 
                $('input#enabledp').prop('checked', false); 
                $('#sampleDivp').addClass('hidden2');
            }

            var pitch = document.querySelector('#pitchp');
            var sampleName = document.querySelector('#samplep');
            var opt, opt2;
            for ( var i = 0, len = pitch.options.length; i < len; i++ ) {
            opt = pitch.options[i];
            opt.selected = false;
            if ( opt.value === thepad.pitch ) {
                opt.selected = true;
                opt.setAttribute('selected', 'selected'); 
            }}
            for ( var i = 0, len = sampleName.options.length; i < len; i++ ) {
            opt2 = sampleName.options[i];
            opt2.selected = false;
            if ( opt2.value === thepad.sample ) {
                opt2.selected = true;
                opt2.setAttribute('selected', 'selected'); 
            }}

            $('#hiddenPadName').attr('value', thepad.pad);
            padPanel();
        });
        
        /// Pad panel button
        $('#soundfilep').change(() => {
            var newName = $('#soundfilep')[0].files[0].name;
            var onlyName = newName.slice(0, -4);
            $("#samplep").append(`<option value="${onlyName}" selected>${onlyName}</option>`);
            $('#hidden-spp').css('display', 'block');
            $('#soundBtnp').css('display', 'none');
        })

        $('#enabledp, #pitchp, #samplep, #soundfilep').on('change', () => {
            $('#padSaveBtn').removeClass('disabled');
            $('#padSaveBtn').removeAttr('disabled');
        })

    // Update file button is visible when 'New Sound' is on

    function showFileBtnP() {
        let sampleDiv = $('#sampleDivp');
        if ( sampleDiv.hasClass('hidden2') ) {
            sampleDiv.removeClass('hidden2');
            sampleDiv.addClass('show2');
        } else {
            sampleDiv.removeClass('show2');
            sampleDiv.addClass('hidden2');
        }
    }

///// Group edit - Hover
let col1Btn = $('.colSelector.zero');
let col2Btn = $('.colSelector.one');
let col3Btn = $('.colSelector.two');
let col4Btn = $('.colSelector.three');
let area1Btn = $('.areaSelector.left.zero');
let area2Btn = $('.areaSelector.left.one');
let area3Btn = $('.areaSelector.left.two');
let area4Btn = $('.areaSelector.right.zero');
let area5Btn = $('.areaSelector.right.one');
let area6Btn = $('.areaSelector.right.two');
let col1 = $('#zero-0, #zero-1, #zero-2, #zero-3, #zero-4, #zero-5, #zero-6, #zero-7, #zero-8, #zero-9');
let col2 = $('#one-0, #one-1, #one-2, #one-3, #one-4, #one-5, #one-6, #one-7, #one-8, #one-9');
let col3 = $('#two-0, #two-1, #two-2, #two-3, #two-4, #two-5, #two-6, #two-7, #two-8, #two-9');
let col4 = $('#three-0, #three-1, #three-2, #three-3, #three-4, #three-5, #three-6, #three-7, #three-8, #three-9');
let area1 = $('#zero-0, #one-0, #zero-1, #one-1, #zero-2, #one-2');
let area2 = $('#zero-3, #one-3, #zero-4, #one-4, #zero-5, #one-5, #zero-6, #one-6');
let area3 = $('#zero-7, #one-7, #zero-8, #one-8, #zero-9, #one-9');
let area4 = $('#two-0, #three-0, #two-1, #three-1, #two-2, #three-2');
let area5 = $('#two-3, #three-3, #two-4, #three-4, #two-5, #three-5, #two-6, #three-6');
let area6 = $('#two-7, #three-7, #two-8, #three-8, #two-9, #three-9');
let allBtns = [col1Btn, col2Btn, col3Btn, col4Btn, area1Btn, area2Btn, area3Btn, area4Btn, area5Btn, area6Btn];
let allGroups = [col1, col2, col3, col4, area1, area2, area3, area4, area5, area6];

let allIndexes = [ 
    ['zero-0', 'zero-1', 'zero-2', 'zero-3', 'zero-4', 'zero-5', 'zero-6', 'zero-7', 'zero-8', 'zero-9'], 
    ['one-0', 'one-1', 'one-2', 'one-3', 'one-4', 'one-5', 'one-6', 'one-7', 'one-8', 'one-9'], 
    ['two-0', 'two-1', 'two-2', 'two-3', 'two-4', 'two-5', 'two-6', 'two-7', 'two-8', 'two-9'], 
    ['three-0', 'three-1', 'three-2', 'three-3', 'three-4', 'three-5', 'three-6', 'three-7', 'three-8', 'three-9'], 
    ['zero-0', 'one-0', 'zero-1', 'one-1', 'zero-2', 'one-2'], 
    ['zero-3', 'one-3', 'zero-4', 'one-4', 'zero-5', 'one-5', 'zero-6', 'one-6'], 
    ['zero-7', 'one-7', 'zero-8', 'one-8', 'zero-9', 'one-9'], 
    ['two-0', 'three-0', 'two-1', 'three-1', 'two-2', 'three-2'], 
    ['two-3', 'three-3', 'two-4', 'three-4', 'two-5', 'three-5', 'two-6', 'three-6'], 
    ['two-7', 'three-7', 'two-8', 'three-8', 'two-9', 'three-9']];
let allGNames = [ "Left Column (10 pads)", "Second Column (10 pads)", "Third Column (10 pads)", "Right Column (10 pads)", "Left Top Area (6 pads)", "Left Middle Area (8 pads)", "Left Bottom Area (6 pads)", "Right Top Area (6 pads)", "Right Middle Area (8 pads)", "Right Bottom Area (6 pads)"]

for(let g = 0; g < allBtns.length; g++) {
    $(allBtns[g]).mouseover(()=> {
        $(allGroups[g]).css('border', '#fff solid 1px');
    })
    $(allBtns[g]).mouseout(()=> {
        $(allGroups[g]).css('border', '#111 solid 1px');
    }) 
}

    // Rendering pad G panel content

    $(document).on('click', '.gBtn', function() {
        console.log('clicked');
        document.querySelector('#padGForm').reset();
        if(!$('#padGSaveBtn').hasClass('disabled')) {$('#padGSaveBtn').addClass('disabled');}
        if(!$('#padGSaveBtn').attr('disabled')){$('#padGSaveBtn').attr('disabled')};

        let index = $(this).attr('data-index');
        $('#groupName').html(allGNames[index]);

        $('#hiddenPadGName').attr('value', allIndexes[index]);
        padGPanel();
    });

    $('#enabledpg, #samplepg').on('change', () => {
            $('#padGSaveBtn').removeClass('disabled');
            $('#padGSaveBtn').removeAttr('disabled');
        })

function updatePad(form) {
    $('.loadingSpinner, .blackscreen').css('display','inline-block');
        var theform = form;
        $(theform).submit();
}
    </script>
</body>
</html>