<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/preview.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
    <link rel="stylesheet" href="css/views.css">

    <title>OnomatoPedal Studio | Preview</title>
</head>
<body>
  <%- include('./partials/nav.ejs')  %> 
  <%- include('./partials/player.ejs')  %> 
  <%- include('./partials/animator.ejs')  %> 
  
  <script>
    var aniName = <%- JSON.stringify(pedal[0].animation) %> ;
    var colName = <%- JSON.stringify(pedal[0].color) %> ;
    var allAnima = <%- JSON.stringify(animation) %> ;
    var colorValue;
    for ( var a = 0; a < allAnima.length; a++ ) {
      if ( allAnima[a].slug == aniName) {
        colorValue = allAnima[a][colName];
        break;
      }
    }
  </script>
  
  <%- include( `./animations/${ pedal[0].animation }.ejs`)  %> 
</body>
</html>