<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 
    <a href="/guide#samples">
        <div class="help">
            <p class="guideIcon">Guide</p>
        </div>
    </a>
    <div class="content samples sideBar">
        <div class="h2bg">
            <h2>Edit Samples</h2>
        </div>
        <div class="sample label">
          <p>Sample Name</p>
          <p>Pitch</p>
        </div>
        <% if (pedal.samples.length > 0) { %>
          <% pedal.samples.forEach((sample, index) => { %>
          <div class="sample col-<%= index %>" id="sample<%= index %>" data-pitch=<%= sample.pitch %> data-index='<%= index %>' >
                  <div><h3><%= sample.samplename %></h3></div>
                  <div><p><%= sample.pitch.toUpperCase().replace('M', '#') %></p></div>
                  <div class="buttons edit-sample" data-index='<%= index %>'>
                    <img src="images/edit.svg" alt="edit" width="30">
                  </div>
                  <div class="buttons" id="play-sample-<%= index %>">
                    <img src="images/Play_btn.svg" alt="edit" width="30">
                  </div>
          </div>
          <% }) %>
      <% } else { %>
          <p>No sample to display</p>
      <% } %>

      <div class="hidden" id="transparentScreen" onclick="samplePanel()">
      </div>
      <div class="forms samplePanels hidden" id="samplePanel">
        <h3 class="panelTitle">Edit Sample</h3>
          <div class="closebtn" onclick="samplePanel()"></div>

          <form id="sampleForm" action="/samples" method="POST">
              <div class="left flex">
                  <div class="formItem">
                  <label for="name">Sample Name</label>
                  <input type="text" id="name" name="name"/>
                  </div>
                  <div class="formItem">
                  <label for="pitch">Pitch</label>
                  <select id="pitch" name="pitch">
                    <% for (var p = 0; p < pitches.length; p++) { %>
                        <option value="<%= pitches[p].slug %>"><%= pitches[p].fullName %></option>
                    <% } %>

                  </select>
                  </div>
                  <input class="hiddensampleName" type="hidden" name="oldname">
              </div>
              <button id="sampleSaveBtn" class="disabled" disabled type="submit">Save</button>
          </form>
          <div class="halfBtns" id="deleteBtn" onclick="askDelete()">Delete</div>
            <form class="popup hidden" id="deletePanel" action="/sample?_method=DELETE" method="POST">
                <h2>Deleting Sample <span class="sampleNameHere"></span></h2>
                <p>Are you sure you want to delete a file?<br/>You can not undo this action.</p>
                <input class="hiddensampleName" type="hidden" name="oldname">
                <input type="submit" value="Delete">
            </form>
      </div>

    <div class="halfBtns btnstyle2 marginBottom" onclick="sampleNewPanel()"><p>Add New</p></div>

    <div class="hidden" id="transparentScreenNew" onclick="sampleNewPanel()">
    </div>
    <div class="forms samplePanels hidden" id="samplePanelNew">
        <h3 class="panelTitle">New Sample</h3>
        <div class="closebtn" onclick="sampleNewPanel()"></div>
    <form id="sampleNewForm" action="/new-samples" method="POST" enctype="multipart/form-data">
              <div class="left flex">
                  <div class="formItem">
                      <label for="newname">Sample Name</label>
                      <input type="text" id="newname" name="newname" required/>
                  </div>
                  <div class="formItem">
                      <label for="pitch">Pitch</label>
                    <select id="pitch" name="pitch">
                        <% for (var p = 0; p < pitches.length; p++) { %>
                            <option value="<%= pitches[p].slug %>"><%= pitches[p].fullName %></option>
                        <% } %>
                    </select>
                  </div>
              </div>
              <input type="file" name="newfile" id="newfile" required>
              <button id="newSampleBtn" class="disabled" disabled>Save</button>
          </form>
    </div>
  </div>
    </div>
    <%- include('./partials/player.ejs')  %> 
    
    <script>
        var thesamples = <%- JSON.stringify(pedal.samples) %> ;
        var disableKeys = false;

        // Open and close key panel
        function samplePanel() {
            document.querySelector('#sampleForm').reset();
            if(!$('#sampleSaveBtn').hasClass('disabled')) {$('#sampleSaveBtn').addClass('disabled');}
            if(!$('#sampleSaveBtn').attr('disabled')){$('#sampleSaveBtn').attr('disabled')};

            let samplePanelWrap = document.querySelector('#samplePanel');
            let allPanels = document.querySelector('#transparentScreen');
            let deletePanel = document.querySelector('#deletePanel');
                    if(!allPanels.classList.contains('hidden')) {
                        samplePanelWrap.classList.add('hidden');
                        allPanels.classList.add('hidden');
                        disableKeys = false;
                    } else {
                        samplePanelWrap.classList.remove('hidden');
                        allPanels.classList.remove('hidden');
                        disableKeys = true;
                    }
                    if(!deletePanel.classList.contains('hidden')) {
                            deletePanel.classList.add('hidden');
                    }
                }
        function sampleNewPanel() {
            document.querySelector('#sampleNewForm').reset();

            if(!$('#newSampleBtn').hasClass('disabled')) {$('#newSampleBtn').addClass('disabled');}
            if(!$('#newSampleBtn').attr('disabled')){$('#newSampleBtn').attr('disabled')};

            let panelWrap = document.querySelector('#samplePanelNew');
            let panelBG = document.querySelector('#transparentScreenNew');
            if(!panelBG.classList.contains('hidden')) {
                        panelWrap.classList.add('hidden');
                        panelBG.classList.add('hidden');
                        disableKeys = false;
                    } else {
                        panelWrap.classList.remove('hidden');
                        panelBG.classList.remove('hidden');
                        disableKeys = true;
                    }
        }

        function askDelete() { 
            let deletePanel = document.querySelector('#deletePanel');
            deletePanel.classList.remove('hidden');
        }

        $(document).ready(() => {

            // Rendering key panel content
            var thesample;
            $(document).on('click', '.edit-sample', function() {
            document.querySelector('#sampleForm').reset();

            var index = $(this).attr('data-index');
            thesample = thesamples[index];

            var namefield = $('input#name');
            $(namefield).attr('value', thesample.samplename);

            var pitch = document.querySelector('#pitch');
            var opt;
            for ( var i = 0, len = pitch.options.length; i < len; i++ ) {
            opt = pitch.options[i];
            if ( opt.value === thesample.pitch ) {
                opt.setAttribute('selected', true); 
                break;
            }}
            $('.hiddensampleName').attr('value', thesample.samplename);

            //Rendering Delete panel content
            var nameInH2 = $('.sampleNameHere');
            $(nameInH2).html('"' + thesample.samplename + '"');

            samplePanel();
        });
    });
    $('#name, #pitch').on('change', () => {
        $('#sampleSaveBtn').removeClass('disabled');
        $('#sampleSaveBtn').removeAttr('disabled');
    })
    $('#newfile, #newname').on('change', () => {
        $('#newSampleBtn').removeClass('disabled');
        $('#newSampleBtn').removeAttr('disabled');
    })

        $('#newfile').change(() => {
            var newName = $('#newfile')[0].files[0].name;
            var onlyName = newName.slice(0, -4);
            $('#newname').attr('value', onlyName);
        })
    </script>
</body>
</html>