<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 
    <a href="/guide#stems">
        <div class="help">
            <p class="guideIcon">Guide</p>
        </div>
    </a>
    <div class="content forms sideBar">
        <div class="h2bg">
            <h2>Upload Stems</h2>
        </div>
            <% for (var st = 1; st < 4; st++) {%>
            <form class="stemCont flex" id="form<%= st %>" action="/stem<%= st %>" method="POST" enctype="multipart/form-data">
                <label for="stem<%= st %>">Stem #<%= st %> </label>
                <% if ( stemFiles[st-1] == true ) { %>
                    <div class="flex audioBtns" id="buttons<%= st %>">
                        <div class="halfBtns" id="play-stem<%= st %>">Play</div>
                        <div class="halfBtns" onclick="deleteStem(<%= st %>)">Delete</div>
                    </div>
                    <input class= "stemInput hidden" type="file" name="stem<%= st %>" id="stem<%= st %>" style="padding: 10px;" onchange="submitTrack(<%= st %>)">
                <% } else { %>
                    <div class="flex audioBtns hidden" id="buttons<%= st %>">
                        <div class="halfBtns" id="play-stem<%= st %>">Play</div>
                        <div class="halfBtns" onclick="deleteStem(<%= st %>)">Delete</div>
                    </div>
                    <input class= "stemInput" type="file" name="stem<%= st %>" id="stem<%= st %>" style="padding: 10px;" onchange="submitTrack(<%= st %>)">
                <% } %>
            </form>
            <div class="hidden" id="transparentScreenTrack<%= st %>" onclick="closePanel(<%= st %>)">
            <form class="popup hidden stempu" id="puStem<%= st %>" action="/stem<%= st %>?_method=DELETE" method="POST">
                <h2>Deleting Stem file #<%= st %></h2>
                <p>Are you sure you want to delete Stem<%= st %> file?<br/>You can not undo this action.</p>
                <input type="submit" value="Delete">
            </form>
            </div>
        <% }%>
        <div class="blackscreen"></div>
        <div class="loadingSpinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

    </div>

    <%- include('./partials/player.ejs')  %> 

    <script>
        var name = <%- JSON.stringify(name) %> ;
        var disableKeys = false;

        function deleteStem(n) {
            var popup = '#puStem' + n;
            var outside = '#transparentScreenTrack' + n;
            $(popup).removeClass('hidden');
            $(outside).removeClass('hidden');
        }

        function closePanel(n) {
            var popup = '#puStem' + n;
            var outside = '#transparentScreenTrack' + n;
            $(popup).addClass('hidden');
            $(outside).addClass('hidden');
        }

        function submitTrack(n) {
            $('.blackscreen, .loadingSpinner').show(() => {
                var theform = '#form' + n;
                $(theform).submit();
            });
        }
        
    </script>
</body>
</html>