<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="content home">
        <div class="opInfo">
            <p class="label">EQD PEDAL</p>
            <h2 id="pedalDisplay"></h2>
            <p class="label">ARTIST</p>
            <h2><%= pedal.artist %></h2>
            <p class="label">TRACK</p>
            <h2><%= pedal.trackName %></h2>
            <p class="label">ONOMATOPOEIA</p>
            <h2><%= pedal.onomato %></h2>
            <p><%= pedal.onoMeaning %></p>
            
            <div class="flex">
                <a href="/info">
                    <button class="sm-btn">
                        <p>Info</p>
                    </button>
                </a>
                <a href="/stems">
                    <button class="sm-btn">
                        <p>Stems</p>
                    </button>
                </a>
            </div>
            <div class="flex row2">
                <a href="/keys">
                    <button class="sm-btn">
                        <p>Keys</p>
                    </button>
                </a>
                <a href="/samples">
                    <button class="sm-btn">
                        <p>Samples</p>
                    </button>
                </a>
            </div>

        </div>
        <div>
            <div class="opImg">
                <div id="diamond"></div>
                <p id="onoText"><%= pedal.onomato %></p>
                <img id="pedalImg" src="images/pedals/db-default.jpg" alt="pedal">
            </div>
            <a href="/preview">
                <button>Play Preview</button>
            </a>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %> 
    <script>
        var thepedal = <%- JSON.stringify(pedal) %> ;
        var pedalDisplay = [ 'Acapulco Gold', 'Afterneath', 'Afterneath Module', 'Aqueduct', 'Arpanoid', 'Arrows', 'Astral Destiny', 'Avalanche Run', 'Bit Commander', 'Data Corrupter', 'Dispatch Master', 'Erupter', 'Ghost Echo', 'Grand Orbiter', 'Hoof', 'Hoof Reaper', 'Hummingbird', 'Levitation', 'Night Wire', 'Organizer', 'Palisades', 'Park Fuzz', 'Plumes', 'Pyramids', 'Rainbow Machine', 'Sea Machine', 'Space Spiral', 'Spatial Delivery', 'Swiss Things', 'Tentacle', 'The Depths', 'The Warden', 'Tone Job', 'Westwood' ]
        var pedalSlug = [ "acapulcogold", "afterneath", "afterneathmodule", "aqueduct", "arpanoid", "arrows", "astraldestiny", "avalancherun", "bitcommander", "datacorrupter", "dispatchmaster", "erupter", "ghostecho", "grandorbiter", "hoof", "hoofreaper", "hummingbird", "levitation", "nightwire", "organizer", "palisades", "parkfuzz", "plumes", "pyramids", "rainbowmachine", "seamachine", "spacespiral", "spatialdelivery", "swissthings", "tentacle", "thedepths", "thewarden", "tonejob", "westwood"]

        for (var p = 0; p < pedalSlug.length; p++) {
            if (thepedal.pedalFull == pedalSlug[p]) {
                var imgPath = 'images/pedals/' + pedalSlug[p] + '.png';
                $('#pedalDisplay').html(pedalDisplay[p]);
                $('#pedalImg').attr('src', imgPath);
                break;
            }
        }

        var onoStr = thepedal.onomato;
        var words = onoStr.split(' ').length;
        if (words === 1) {$('#onoText').css('font-size', '30em');}
        else if (words === 2) {$('#onoText').css('font-size', '15em');}
        else {$('#onoText').css('font-size', '10em');}
        console.log(words);
    </script>
</body>
</html>