<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="content home">
        <div class="opInfo">
            <p class="label">EQD PEDAL</p>
            <h2 id="pedalDisplay"></h2>
            <p class="label">ARTIST</p>
            <h2><%= pedal[0].artist %></h2>
            <p class="label">TRACK</p>
            <h2><%= pedal[0].trackName %></h2>
            <p class="label">ONOMATOPOEIA</p>
            <h2><%= pedal[0].onomato %></h2>
            <p><%= pedal[0].onoMeaning %></p>
            
            <div class="flex">
                <a href="/info">
                    <button class="sm-btn">
                        <p>Info</p>
                    </button>
                </a>
                <a href="/stems">
                    <button class="sm-btn">
                        <p>Stems</p>
                    </button>
                </a>
            </div>
            <div class="flex row2">
                <a href="/keys">
                    <button class="sm-btn">
                        <p>Keys</p>
                    </button>
                </a>
                <a href="/samples">
                    <button class="sm-btn">
                        <p>Samples</p>
                    </button>
                </a>
            </div>

        </div>
        <div>
            <div class="opImg">
                <div id="diamond"></div>
                <p id="onoText"><%= pedal[0].onomato %></p>
                <img id="pedalImg" src="images/pedals/db-default.jpg" alt="pedal">
            </div>
            <a href="/preview">
                <button>Play Preview</button>
            </a>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %> 
    <script>
        var thepedal = <%- JSON.stringify(pedal[0]) %> ;
        var eqdPedals = <%- JSON.stringify(eqdPedals) %> ;

        for (var p = 0; p < eqdPedals.length; p++) {
            if (thepedal.pedalFull == eqdPedals[p].slug) {
                var imgPath = 'images/pedals/' + eqdPedals[p].slug + '.png';
                $('#pedalDisplay').html(eqdPedals[p].fullName);
                $('#pedalImg').attr('src', imgPath);
                break;
            }
        }

        var onoStr = thepedal.onomato;
        var words = onoStr.split(' ').length;
        if (words === 1) {$('#onoText').css('font-size', '30em');}
        else if (words === 2) {$('#onoText').css('font-size', '15em');}
        else {$('#onoText').css('font-size', '10em');}
    </script>
</body>
</html>