<html lang="en">
    <%- include('./partials/frontHead.ejs')  %> 
<body>
  <% if (!mobile) {%>
    <%- include('./partials/frontNav.ejs')  %> 
  <% } %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>

    <script>
        var aniName = <%- JSON.stringify(pedal.animation) %> ;
        var colName = <%- JSON.stringify(pedal.color) %> ;
        var allAnima = <%- JSON.stringify(animation) %> ;
        var colorValue; var theAnima;
        for ( var a = 0; a < allAnima.length; a++ ) {
          if ( allAnima[a].slug == aniName) {
            colorValue = allAnima[a][colName];
            theAnima = allAnima[a];
            break;
          }
        }
      </script>

      <%- include('./partials/frontPlayer.ejs')  %> 

      <%- include( `./animations/${ pedal.animation }.ejs`)  %> 
</body>
</html>