<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="content forms">
        <h2>Key Editor | <%= thekey %></h2>
        <form action="/keys" method="POST">
            <input type="hidden" name="key" value=<%= thekey %>>
            <label for="enabled">Enabled</label>
            <input type="checkbox" id="enabled" name="enabled" <%= keydata.enabled ? 'checked': null %> />
            <label for="pitch">Note</label>
            <select id="pitch" name="pitch" data-pre="<%= keydata.pitch %>">
                <option value="c4">C4</option>
                <option value="cm4">C#4</option>
                <option value="d4">D4</option>
                <option value="dm4">D#4</option>
                <option value="e4">E4</option>
                <option value="f4">F4</option>
                <option value="fm4">F#4</option>
                <option value="g4">G4</option>
                <option value="gm4">G#4</option>
                <option value="a4">A4</option>
                <option value="am4">A#4</option>
            </select>
            <label for="new-sound">New Sound</label>
            <input type="checkbox" id="newsound" name="newsound" <%= keydata.newSound ? 'checked': null %> />
            <button id="soundfile" name="soundfile">Update File</button>
            <button>Save</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs')  %> 

    <script>
        // render pitch from database
        var pitch = document.querySelector('#pitch');
        var opt;
        for ( var i = 0, len = pitch.options.length; i < len; i++ ) {
        opt = pitch.options[i];
        if ( opt.value === pitch.dataset.pre ) {
            opt.setAttribute('selected', 'selected'); 
            break;
        }
        }
    </script>
</body>
</html>